<div class="row-fluid">
	<h2>{{title}}</h2>

	<article class="span4">
		<figure></figure>
		<figcaption id="fig2label">{{title}}
		</figcaption>
	</article>
	<aside id="controls" class="span6 well well-smalh">Hey</aside>
</div>
