<div class="row-fluid">
	<h2>{{title}}</h2>

	<article class="span6">
		<figure></figure>
		<figcaption id="fig2label">{{title}}
		</figcaption>
	</article>
	<aside id="controls" class="span4 well well-small">
		<header><h3>Control Points</h3></header>
		<section id="pointControls"></section>
		<footer>
			<a class="btn btn-success btn-mini load">Load</a>
			<a class="btn btn-warning btn-mini save">Save</a>
			<a class="btn btn-danger btn-mini reset">Reset</a>
		</footer>
	</aside>
</div>
