<div class="row-fluid">
	<div class="hero-unit span6 offset3">
		<h1>Maths Labs</h1>
		<p>Maths is fun! Try the following exercises</p>
		<ul>
			{{#links}}
			<li><a href="{{link}}" data-local="true">{{name}}</a></li>
			{{/links}}
		</ul>
	</div>
</div>