@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

$fills: #7ECEFD;
$strokes: #2185C5;
@import url('http://fonts.googleapis.com/css?family=Reenie+Beanie');

// .hero-unit {
//     margin: 50px auto 0 auto;
//     width: 300px;
// }

body {
	background-image: url(/images/graphy/graphy.png);
}

figure {
	font-weight: bold;
	text-shadow: 2px 2px 3px #a3a3a3;
    filter: dropshadow(color=#a3a3a3, offx=2, offy=2);
    min-height: 80px;
    padding-top: 2em;
}

figcaption {
	text-align: center;
	font-style: italic;
	background-color: #fff;
	border-top: 1px dashed #bbb; 
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5em;
    padding: 0.4em;
    vertical-align: center;
}
.one-edge-shadow {

}

article {
    // background-color: #ddd;
    background-image: url(/images/debut_light/debut_light.png)
}

.chart rect{
	fill: $fills;
	stroke: $strokes;
}

.axis {
	stroke-width: 1px;
}

.joins {
	opacity: 1;
}

.chart .point{
	fill: white;
	stroke: $strokes;
	stroke-width: 2px;
	opacity: 1;
}

.chart path.shape {
	stroke: $strokes;
	fill: $fills;
	opacity: 0.2;
}


.label{
	fill: #999;
	font-family: 'Reenie Beanie', cursive;
	font-size: 1.5em;
}

.point:hover {
	fill: $strokes;
	r: 2em;
}

.axis line, .axis path {
	fill: none;
	stroke: $strokes;
	shape-rendering: 'crisp-edges';
}