<div class="row-fluid">
	<h2>{{title}}</h2>

	<article class="span6">
		<figure></figure>
		<figcaption id="fig2label">{{title}}
		</figcaption>
	</article>
	<aside id="controls" class="span4 well well-small">
		<header><h3>Control Points</h3></header>
		<section id="pointControls"></section>
	</aside>
</div>
