<form class="form">

	<fieldset>
		<div class="input-append">
			<input name='dxInput' type="text" class="input-small" value="{{dx}}" size='4'><span class="add-on">width</span>
		</div>
	</fieldset>

	<fieldset>
		<div class="input-append">
			<input name='dyInput' type="text" class="input-small" value="{{dy}}" size='4'><span class="add-on">height</span>
		</div>
	</fieldset>

	<fieldset>
		<button type="submit" class="btn">Go!</button>
	</fieldset>

</form>
