<div class="row-fluid">
	<h2>{{title}}</h2>

	<article class="span6">
		<figure></figure>
		<figcaption id="fig2label">{{title}}
		</figcaption>
	</article>
	<aside id="controls" class="span4">
		<header><h3>Enlargement Controls</h3></header>
		<section id="controls"></section>
	</aside>
</div>
