<form class="form-inline">
	<div class="input-prepend">
		<span class="add-on">x</span><input name='x' type="text" class="input-small" value="{{x}}" size='4'>
	</div>
	<div class="input-prepend">
		<span class="add-on">y</span><input name='y' type="text" class="input-small" value="{{y}}" size='4'>
	</div>
  <button type="submit" class="btn">save</button>
</form>